# Entornos virtuales
env/
venv/
.venv/
__pycache__/
*.pyc

# Archivos de configuración con credenciales
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de registro (Logs) de Streamlit
*.log
streamlit_app_v2.err.log
streamlit_app_v2.out.log
streamlit_app_v3.err.log
streamlit_app_v3.out.log
